<%- include("./partials/head.ejs", {title:'Home'})%>
<header class="header">
    <ul class="list">
        <li><a href="signUp" class="a1">Sign Up</a></li>
        <li><a href="LogIn" >Log In</a></li>
    </ul>
</header>
<main class="main">
    <div class="text">
        <h1>Welcome to URL shortner, the easiest way to shorten all your URL no matter how long they are</h1>
        
    </div>
    <div class="image">
        
        <img src="/images/QRCode_Blue.png" alt="">
        <div class="link">
            <a href="signUp" class="a2">Sign Up</a>
            <a href="LogIn" class="a2">Log In</a>
        </div>
    </div>
</main>
<%- include("./partials/foot.ejs")%>